<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - page not found</title>
    <style>
        h1{
          font-size: 5em;  
          color: red;
        }
        p{
            font-size: 1.5em;
        }
        a {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Oops! The page you're looking for doesn't exist</p>
    <a href="/">Go back to home page</a>
</body>
</html>